/* Setting background image for whole page */

body {
    margin: 0px;
    padding: 0px;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-position: top right;
}


/* To make header fixed */

.fix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}


/* Logo image properties */

.logo_img {
    margin-left: 50px;
    padding-left: 100px;
    padding-right: 100px;
    height: 70px;
    display: inline-block;
    background-color: black;
}


/* Menu with dropdown list */

.fix ul {
    height: 70px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    display: inline-block;
    width: 100%;
}

.fix li {
    margin-right: 40px;
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Alegreya Sans', sans-serif;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: green;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

* {
    box-sizing: border-box
}

.mySlides {
    display: none
}


/* Slideshow container */

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}


/* Next & previous buttons */

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* Caption text */

.text {
    color: white;
    font-size: 25px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
}


/* Number text (1/3 etc) */

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}


/* On smaller screens, decrease text size */

@media only screen and (max-width: 300px) {
    .prev, .next, .text {
        font-size: 11px
    }
}


/* Page content styling */

p {
    text-align: center;
    font-family: 'Alegreya Sans', sans-serif;
}


/* heading styling */

h2 {
    font-family: 'Luckiest Guy', cursive;
    color: brown;
    font-size: 23px;
}


/* grid_3 properties */

.grid_3 {
    height: 230px;
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.boxcard {
    padding: 10px;
    background-color: white;
}


/* grid_3 image properties */

.grid_3 img {
    height: 150px;
    width: 220px;
}

.grid_3:hover {
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.50), 0 24px 80px 0 rgba(0, 0, 0, 0.50);
}


/* transition effects applied for cards */

#trans1 {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#trans1:hover {
    border-radius: 50%;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

#trans2 {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

#trans2:hover {
    -webkit-filter: blur(5px);
}

#trans3 {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

#trans3:hover {
    -webkit-filter: grayscale(100%);
}

#trans4 {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#trans4:hover {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

#trans5 {
    margin-top: 0px;
    -webkit-transition: margin 1s ease;
    -moz-transition: margin 1s ease;
    -o-transition: margin 1s ease;
    -ms-transition: margin 1s ease;
    transition: margin 1s ease;
}

#trans5:hover {
    margin-top: -25px;
}


/* changing text to uppercase */

#infa {
    text-transform: uppercase;
    text-align: center;
}


/* footer properties */

.foot {
    height: 300px;
    background-color: black;
    font-family: 'Alegreya Sans', sans-serif;
    color: white;
}

.foot a {
    text-decoration: none;
    color: pink;
}

#footimg {
    background-color: black;
    width: 100%;
}

.container_12 {
    margin-top: 40px;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-pinterest {
    background: #cb2027;
    color: white;
}

.fa-heart {
    background: blue;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

#sec {
    margin-bottom: 50px;
}
